<div id="navigator-container">
    <form>

        <div class="form-group">
            <label>Script</label>
            <select
                class="form-control"
                ng-model="$root.currentScript"
                ng-options="k for (k, v) in $root.setting.scripts"
                >
            </select>
        </div>

        <div class="form-group">
            <label>EPD File</label>
            <select
                class="form-control"
                ng-model="$root.currentEpd"
                ng-options="k as v for (k, v) in $root.setting.epd"
                ng-change="$root.loadCurrentPositions()"
                >
            </select>
        </div>

        <div class="form-group">
            <label>Position</label>
            <select
                class="form-control"
                ng-model="$root.currentPosition"
                ng-options="p as p.id + ' (bm: ' + p.bm + ')' for p in $root.currentPositions"
                >
            </select>
        </div>

        <div class="form-group">
            <button
                type="button"
                class="btn btn-default pull-right"
                ng-click="$root.callExec()">
                Refresh
            </button>
        </div>
    </form>
</div>